html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background-color: #666;
}

.img1 {
    background-image: url(media/image1.png);
    min-height: 100%;
}

.img2 {
    background-image: url(media/image2.png);
    min-height: 400px;
}

.img3 {
    background-image: url(media/image3.png);
    min-height: 400px;
}




.img1,
.img2,
.img3 {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.text1{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: capitalize;
}

.textbg{
    background-color: #313534;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.section .heading1{
    text-align: center;
    color: white;
}
.section .para{
    padding: 25px 25px;
    text-align: center;
    color: white;
}









.navbar{
    
    background: #666; font-family: ink free; padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    text-decoration: none;
    font-size: 55px;
    font-weight: bold;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 31px;
    margin-right: 60px;
}
li a:hover{
    background-color: #666;
    
}

button{
    background-color: black;
    margin-left: 10px;
    padding: 10px;
    width: 90px;
    border-radius: 10px;
}
button a{
    font-family: ink free;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}











